@media screen and (min-width: 576) {
  .featured .wrapper-featured-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .search-bar .form-control {
    height: 100%;
  }
}

@media screen and (min-width: 769px) {
  .featured .wrapper-featured-cards {
    flex-direction: row;
    gap: 20px;
  }

  .search-bar {
    width: 500px;
  }

  .form-control {
    font-size: 1rem;
    height: 45px;
  }

  .home-title {
    h1 {
      font-size: 4rem;
    }

    h3 {
      font-size: 2rem;
    }
  }

  .open-offcanvas {
    height: 45px;
  }

  header .user-icon {
    display: none;
  }

  header .action-button-group .log-button {
    display: flex;
    gap: 10px;
  }
}

@media screen and (min-width: 996px) {
  section .jumbotron {
    height: 600px;
    .search-bar {
      width: 800px;

      .fa-magnifying-glass-location {
        font-size: 2rem;
      }
    }

    .form-control {
      height: 50px;
    }

    .form-control {
      font-size: 1rem;
    }

    .home-title {
      h1 {
        font-size: 6rem;
      }

      h3 {
        font-size: 3rem;
      }
    }
  }

  .container-xxl .wrapper-result {
    .sidebar {
      display: block;
    }
  }

  main .travel {
    .row {
      flex-direction: row;
    }
  }

  .open-offcanvas {
    display: none;
  }
}
