@media screen and (min-width: 576) {
  .featured .wrapper-featured-cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 769px) {
  .featured .wrapper-featured-cards {
    flex-direction: row;
    gap: 20px;
  }

  .jumbotron {
    .search-bar {
      width: 500px;
    }

    .form-control {
      font-size: 1rem;
      height: 30px;
    }

    .home-title {
      h1 {
        font-size: 4rem;
      }

      h3 {
        font-size: 2rem;
      }
    }
  }

  header .user-icon {
    display: none;
  }

  header .action-button-group .log-button {
    display: flex;
    gap: 10px;
  }
}

@media screen and (min-width: 996px) {
  .jumbotron {
    .search-bar {
      width: 800px;

      .fa-magnifying-glass-location {
        font-size: 2rem;
      }
    }

    .form-control {
      height: 50px;
    }

    .form-control {
      font-size: 1rem;
    }

    .home-title {
      h1 {
        font-size: 6rem;
      }

      h3 {
        font-size: 3rem;
      }
    }
  }
}
